Source: libmm-session
Section: libs
Priority: optional
Maintainer: Seungbae Shin <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: YoungHwan Ahn <younghwan_.an@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libaudiosessionmgr-dev, libmm-common-dev, dlog-dev
Standards-Version: 3.7.2

Package: libmm-session-dev
XB-Public-Package: no
Section: libdevel
Architecture: any
Depends: libmm-session-0 (= ${Source-Version}), libmm-session-sdk-dev, dlog-dev
Description: mm-session development package for samsung internal

Package: libmm-session-sdk-dev
XB-Generate-Docs: yes
Section: libdevel
Architecture: any
Depends: libmm-session-0 (= ${Source-Version}), libaudiosessionmgr-sdk-dev, libmm-common-dev, dlog-dev
Description: mm-session development package for public sdk release

Package: libmm-session-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaudiosessionmgr-0 , libmm-common, libdlog-0
Description: mm-session can define application's multimedia session type

Package: libmm-session-0-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmm-session-0 (= ${Source-Version})
Description: mm-session debug package (unstripped)
